################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/windows/pasms64/.vs/pasms64/v16
/windows/pasms64/.vs/pasm64/v16/Browse.VC.opendb
/windows/pasms64/.vs/pasm64/v16
